
.page-title {
  font-size: 2rem;
}

@media (min-width: 480px) {
  .album-grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr)); 
  }
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .top-nav {
    display: block;
  }
    .top-nav ul { gap: 1rem 2rem; }
    main { max-width: 1200px; }
    .album-grid {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    gap: 1.1rem;
}
}